{% extends "base.html" %}

{% block content %}
<h2>Fleet Analytics</h2>

<div class="row mt-4">

    <div class="col-md-3">
        <div class="card bg-primary text-white p-3">
            <h5>Total Revenue</h5>
            <h3>{{ total_revenue }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-danger text-white p-3">
            <h5>Total Fuel Cost</h5>
            <h3>{{ total_fuel }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-warning text-dark p-3">
            <h5>Total Maintenance</h5>
            <h3>{{ total_maintenance }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-success text-white p-3">
            <h5>Net Profit</h5>
            <h3>{{ net_profit }}</h3>
        </div>
    </div>

</div>

<hr>

<h4>Vehicle Breakdown</h4>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>Profit</th>
            <th>ROI</th>
            <th>Fuel Efficiency (km/L)</th>
        </tr>
    </thead>
    <tbody>
        {% for data in vehicle_data %}
        <tr>
            <td>{{ data.vehicle.model }}</td>
            <td>{{ data.profit }}</td>
            <td>{{ data.roi }}</td>
            <td>{{ data.fuel_efficiency }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}