{% extends "base.html" %}

{% block content %}

<form method="GET" class="d-flex mb-3">

    <input type="text"
           name="search"
           value="{{ request.args.get('search','') }}"
           class="form-control me-2"
           placeholder="Search name or license">

    <select name="status" class="form-select me-2">
        <option value="">All Status</option>
        <option value="ON_DUTY">On Duty</option>
        <option value="ON_TRIP">On Trip</option>
        <option value="SUSPENDED">Suspended</option>
    </select>

    <select name="sort" class="form-select me-2">
        <option value="desc">Newest</option>
        <option value="asc">Oldest</option>
    </select>

    <button class="btn btn-primary">Apply</button>

</form>

<div class="d-flex justify-content-between align-items-center">
    <h2>Drivers</h2>

    {% if current_user.role.name == "MANAGER" %}
    <a href="{{ url_for('drivers.create_driver') }}"
       class="btn btn-primary">
       + Add Driver
    </a>
    {% endif %}
</div>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>License</th>
            <th>Category</th>
            <th>Expiry</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for d in drivers %}
        <tr>
            <td>{{ d.name }}</td>
            <td>{{ d.license_number }}</td>
            <td>{{ d.license_category }}</td>

            <td>
                {% if not d.is_license_valid() %}
                    <span class="text-danger fw-bold">
                        {{ d.license_expiry_date }}
                    </span>
                {% else %}
                    {{ d.license_expiry_date }}
                {% endif %}
            </td>

            <td>
                {% if d.status.value == "OnDuty" %}
                    <span class="badge bg-success">
                        {{ d.status.value }}
                    </span>
                {% elif d.status.value == "OnTrip" %}
                    <span class="badge bg-primary">
                        {{ d.status.value }}
                    </span>
                {% elif d.status.value == "Suspended" %}
                    <span class="badge bg-danger">
                        {{ d.status.value }}
                    </span>
                {% else %}
                    <span class="badge bg-secondary">
                        {{ d.status.value }}
                    </span>
                {% endif %}
            </td>
            <td>
                {% if current_user.role.name in ["MANAGER", "SAFETY_OFFICER"] %}
                    <a href="{{ url_for('drivers.edit_driver', driver_id=d.id) }}"
                    class="btn btn-sm btn-warning">
                        Edit
                    </a>

                    <a href="{{ url_for('drivers.toggle_driver_status', driver_id=d.id) }}"
                    class="btn btn-sm btn-danger">
                        {% if d.status.value == "Suspended" %}
                            Reactivate
                        {% else %}
                            Suspend
                        {% endif %}
                    </a>
                {% endif %}
            </td>            

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}