{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h2>Trips</h2>
    <a href="{{ url_for('trips.create_trip') }}"
       class="btn btn-primary">
       + Create Trip
    </a>
</div>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Vehicle</th>
            <th>Driver</th>
            <th>Cargo</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for t in trips %}
        <tr>
            <td>{{ t.id }}</td>
            <td>{{ t.vehicle.model }}</td>
            <td>{{ t.driver.name }}</td>
            <td>{{ t.cargo_weight }}</td>

            <td>
                {% if t.status.value == "Draft" %}
                    <span class="badge bg-secondary">Draft</span>
                {% elif t.status.value == "Dispatched" %}
                    <span class="badge bg-primary">Dispatched</span>
                {% else %}
                    <span class="badge bg-success">Completed</span>
                {% endif %}
            </td>

            <td>
                {% if t.status.value == "Draft" %}
                    <a href="{{ url_for('trips.edit_trip', trip_id=t.id) }}"
                    class="btn btn-sm btn-info">
                        Edit
                    </a>

                    <a href="{{ url_for('trips.dispatch_trip', trip_id=t.id) }}"
                    class="btn btn-sm btn-warning">
                        Dispatch
                    </a>

                    <a href="{{ url_for('trips.cancel_trip', trip_id=t.id) }}"
                    class="btn btn-sm btn-danger">
                        Cancel
                    </a>
                {% elif t.status.value == "Dispatched" %}
                    <form method="POST"
                          action="{{ url_for('trips.complete_trip', trip_id=t.id) }}"
                          style="display:inline;">
                        <input type="number"
                               name="end_odometer"
                               placeholder="Final Odometer"
                               required>
                        <button class="btn btn-sm btn-success">
                            Complete
                        </button>
                    </form>
                {% elif t.status.value == "Completed" %}
                    <a href="{{ url_for('fuel.view_fuel', trip_id=t.id) }}"
                    class="btn btn-sm btn-secondary">
                        View Fuel
                    </a>

                    <a href="{{ url_for('fuel.add_fuel', trip_id=t.id) }}"
                    class="btn btn-sm btn-info">
                        Add Fuel
                    </a>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}